<h2>Open-Source Licenses</h2>

<ul>
    <% @licenses.each do |l| %>
        <% if l.url.present? %>
            <li><%= link_to l.name, l.url %></li>
        <% else %>
            <li><%= l.name %></li>
        <% end %>
    <% end %>
</ul>