<div class="row">
    <div class="large-12 column">
        <h3 style="text-align: center"><%= link_to 'tell droid.li about a new library', new_project_path %></h3>
    </div>
    <hr />
</div>

<div class="row">
    <div class="large-12 column">
        <h2>libraries</h2>
    </div>
</div>

<% @projects.each do |p| %>
    <div class="row">
        <div class="large-12 column">
            <div class="row">
                <div class="large-4 column">
                    <% if p.url.present? %>
                        <h4><%= link_to p.name, p.url %></h4>
                    <% else %>
                        <h4><%= p.name %></h4>
                    <% end %>
                </div>
                <div class="large-4 column">
                    <p>tags go here</p>
                </div>
                <div class="large-4 columns">
                    <p>Thanks to twitter handles of contributors</p>
                </div>
            </div>
        </div>
    </div>
<% end %>
